python-dotenv
Flask
flask-restx
flask-cors
google-cloud-storage
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-mistralai
faiss-cpu
sentence-transformers
datasets
aiohttp
gunicorn
uuid
tqdm
mlflow
